:root{
  --textColor: #000;
  --yellow: #EBD96B;
  --grey: #7F7F7F;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--textColor)
 
}

.container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0 30px;
}

.title__general {
  position:relative;
  display: inline-block;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.06em;
}

.title__general::after {
  content: '';
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 190px;
  height: 32px;
  background-image: url('./../img/icons/yellow-decor.svg');
  background-repeat: no-repeat;
}