.card {
position: relative;
}

.card:hover .card__img {
opacity: .8;
}

.card__link {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.card__img {
margin-bottom: 28px;
border-radius: 20px;
}

.card__body {
display: flex;
justify-content: space-between;
column-gap: 10px;
align-items: center;
}

.card__title {
  margin-bottom: 7px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.04em;
}

.card__subtitle {
  color: var(--grey);
    font-size: 24px;
    font-weight: 500;
    line-height: 2.08;
      letter-spacing: 0.04em;
}
