.header {
  padding: 46px 0 56px;
}


.header__row {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: space-between;

}

.header__logo {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.header__logo span {
  font-weight: 900;
  font-size: 40px;
  line-height: 1.5px;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.header__nav {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .01em;
  text-align: left;
  color: #fff;
}

.header__nav ul {
  display: flex;
  column-gap: 65px;
  align-items: center;
}

.header__nav a {
  color: var(--textColor);
}

.header__nav-btn,
a.header__nav-btn {
  border-radius: 7px;
  background: #000;
  padding: 13px 22px 17px;
  color: #FEFEFE;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.03em;
}